version: '3.8'

services:
  neo4j:
    container_name: ${MY_CONTAINER_NAME}
    image: neo4j:5.26.0
    ports:
      - "${MY_HTTP_PORT}:7474"
      - "${MY_BOLT_PORT}:7687"
    environment:
      - NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PASSWORD}
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*
    volumes:
      - ./${MY_DATA_FOLDER}:/data